<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.armoz.roadtoalcatraz">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".newGame.view.activity.NewGameActivity"
            android:label="@string/new_game_title">
            <intent-filter>
                <type android:name="android.intent.type.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feed.view.activity.FeedActivity"
            android:label="@string/feed_title"></activity>

        <activity
            android:name=".calendar.view.activity.CalendarActivity"
            android:label="@string/calendar_title"></activity>

        <activity
            android:name=".tournamentDetail.view.activity.TournamentDetailActivity"
            android:label="@string/tournament_detail_title"></activity>

        <activity
            android:name=".train.view.activity.TrainActivity"
            android:label="@string/training_title"></activity>

        <activity
            android:name=".strategy.view.activity.StrategyActivity"
            android:label="@string/training_title"></activity>

        <service
            android:name=".train.view.TrainJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="13897a8854ec6063da051975eb60768d08cf4593" />
    </application>

</manifest>
